#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define MACRO_DELAY 100

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "KSCAN";
        
        input-gpios
            = <&gpio0 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };

    macros {
        jjk: jjk_macro {
            compatible = "zmk,behavior-macro";
            label = "JJK_MACRO";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp J>
                , <&macro_wait_time MACRO_DELAY>
                , <&macro_tap &kp J>
                , <&macro_wait_time MACRO_DELAY>
                , <&macro_tap &kp K>
                ;
        };

        llk: llk_macro {
            compatible = "zmk,behavior-macro";
            label = "LLK_MACRO";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp L>
                , <&macro_wait_time MACRO_DELAY>
                , <&macro_tap &kp L>
                , <&macro_wait_time MACRO_DELAY>
                , <&macro_tap &kp K>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        label = "KEYMAP";

        default_layer {
            label = "Default";
            bindings = <&jjk &llk>;
        };
    };
};
